<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!--檔案日誌，archive相關引數：檔案拆分，每100M拆分一個新檔案-->
		<target xsi:type="AsyncWrapper" name="AllAsyncWrapper" queueLimit="10000" batchSize="1000">
			<target xsi:type="File"
			        name="allfile"
			        fileName="${basedir}\nlog-all-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.log"
			        archiveFileName="${basedir}\archives\nlog-all-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.archive-{#}.zip"
			        archiveEvery="Day"
			        maxArchiveDays="7"
			        archiveNumbering="DateAndSequence"
			        enableArchiveFileCompression="True"
			        layout="${longdate}|${aspnet-traceidentifier}|${uppercase:${level}}|${threadid}|${logger}|${message} ${exception:format=ToString}|${aspnet-request-method}|${aspnet-request-url}|${aspnet-mvc-action}|${aspnet-request-posted-body}" />
		</target>
	</targets>

	<rules>
		<!-- add your logging rules here -->
		<!--路由順序會對日誌列印產生影響。路由匹配邏輯為順序匹配。-->
		<logger name="*" minlevel="Info" writeTo="AllAsyncWrapper" />
	</rules>
</nlog>